<div class="col-sm-6 col-md-4">  
      <ul class="nav nav-pills"> 
          <li>  
              <% if policy(bookmark).update? %>
               <%= link_to edit_topic_bookmark_path(topic,bookmark), id: "bku-#{bookmark.to_param}" do %>
                    <span class="glyphicon glyphicon-pencil"></span>
               <%end %>
              <% end %> 
          </li>
           <li>  
              <% if policy(bookmark).destroy? %> 
               <%= link_to  [topic,bookmark], method: :delete, id: "bkd-#{bookmark.to_param}" do %>
                    <span class="glyphicon glyphicon-trash"></span>
               <%end %>
              <% end %> 
           </li>
             <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
        </ul>   
        <h4 class="media-heading">
               <a id="bk<%=bookmark.id%>" class="embedly-card" href="//<%=bookmark.url%>"></a>    
        </h4>   
</div> 